* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
a {
    text-decoration: none;
}
h1, h2 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 72px;
    line-height: 1;
    margin-bottom: 26px;
}
h2 {
    font-size: 56px;
    line-height: 1.14;
    margin-bottom: 23px;
}
p {
    margin-top: 0;
    line-height: 1.5;
}
input {
    font-family: 'Source Sans Pro', sans-serif;
}
.strong {
    font-weight: 600;
}
.center {
    text-align: center;
}
.m_auto {
    margin-left: auto;
    margin-right: auto;
}
.wrapper {
    position: relative;
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.flex {
    display: flex;
}
.flex-justify_sb {
    justify-content: space-between;
}
.flex-justify_end {
    justify-content: flex-end;
}
.flex-align_center {
    align-items: center;
}
.flex-align_end {
    align-items: flex-end;
}
.flex_col {
    flex-direction: column;
}
.flex_wrap {
    flex-wrap: wrap;
}
.bg_pink {
    background: #FDF2FF;
}
.bg_blue {
    background: #3023AE;
    color: #fff;
}
.bg_fuchsia {
    background: #C86DD7;
    color: #fff;
}
.bg_yellow {
    background: #FFC300;
    color: #fff;
}
.btn {
    display: block;
    min-width: 170px;
    width: fit-content;
    padding: 15px;
    border: 0;
    border-radius: 24px;
    text-align: center;
    font-weight: 700;
}
.btn_border {
    border: 1px solid #ffffff33;
}
.image__wrap_rect {
    position: relative;
}
.image__wrap_rect img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
    border-radius: 3px;
}
.image__wrap_rect::before {
    content: '';
    display: block;
    position: absolute;
    top: 32px;
    left: -30px;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 3px;
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
}
.subtitle {
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 1.5;
}
.preview {
    font-weight: 600;
    line-height: 1.5;
}
.preview_center {
    max-width: 610px;
    margin: 0 auto 64px;
    text-align: center;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 2;
}
.logo__wrap {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}
.header__link {
    color: #fff;
}
.header-nav__item {
    display: block;
    margin: 0 15px;
    font-weight: 600;
    color: #fff;
}
.main__wrap {
    position: relative;
    overflow: hidden;
}
.main__wrap::after {
    content: url(../images/oval-smaller.svg);
    display: block;
    position: absolute;
    top: 60px;
    right: -40px;
}
.main-screen__wrap {
    position: relative;
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    color: #fff;
    height: 100vh;
    padding: 110px 0 48px;
    overflow: hidden;
}
.main-screen__wrap::before,
.main-screen__wrap::after {
    position: absolute;
    display: block;
}
.main-screen__wrap::before {
    content: url("../images/oval-big.svg");
    bottom: -110px;
    right: -90px;
}
.main-screen__wrap::after {
    content: url("../images/oval-small.svg");
    bottom: -60px;
    left: calc(40% + 10px);
}
.main-screen__desc {
    width: 40%;
    padding-right: 90px;
}
.main-screen__desc .preview {
    margin-bottom: 34px;
}
.main-screen__img {
    position: relative;
    width: 60%;
    z-index: 2;
}
.main-screen__img::before {
    content: url("../images/oval-medium.svg");
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: -1;
}
.contacts__block {
    background: url("../images/bg_footer.jpg") 50% 50% no-repeat;
    background-size: cover;
}
.contacts__wrap {
    padding: 135px 0 160px;
    text-align: center;
}
.contacts__content {
    max-width: 610px;
    margin: 0 auto;
}
.contact__form {
    margin-top: 28px;
}
.form__input {
    width: 100%;
    margin-right: 30px;
    padding: 11px 16px;
    border: 1px solid #DADADA;
    border-radius: 3px;
    background: #fff;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}
.form__input:focus {
    outline: none;
}
.footer {
    padding: 60px 0 74px;
    border-top: 2px solid #00000011;
}
.footer-nav__wrap {
    width: 70%;
}
.footer-contacts__wrap {
    width: 30%;
}
.footer-nav__list {
    display: block;
    width: 33.333%;
    padding-right: 20px;
    list-style-type: none;
}
.footer-nav__item:not(:last-of-type) {
    margin-bottom: 8px;
}
.footer-nav__item a {
    font-weight: 400;
    line-height: 1.5;
    color: #33333355;
}
.footer-nav__item:first-child a {
    font-weight: 600;
    color: #333;
}
.social__link {
    display: block;
    margin-right: 8px;
}
.copyright {
    margin-top: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #33333355;
}
.blog__section {
    padding: 112px 0;
}
.blog__preview {
    width: 50%;
    padding-right: 125px;
}
.blog__item {
    position: relative;
    width: 50%;
}
.blog__preview .preview {
    margin-bottom: 32px;
}
.blog__content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 48px 46px;
    z-index: 3;
    color: #fff;
}
.blog__title {
    margin-bottom: 10px;
    font-size: 24px;
    font-width: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 1.333;
}
.blog__desc {
    margin-bottom: 16px;
    font-weight: 400;
    color: #ffffff55;
}
.blog__author img {
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border-radius: 50%;
}
.blog__author span {
    font-weight: 600;
}
.review__section {
    padding: 70px 0 100px;
}
.review__slider {
    margin: 0 -15px 100px;
    text-align: left;
}
.review__item {
    margin: 0 15px;
    padding: 32px 32px 42px;
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
    border-radius: 3px;
}
.review__img img {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 14px;
}
.review__text {
    margin-bottom: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #33333355;
}
.review__author {
    font-weight: 600;
    line-height: 1.5;
}
.advantages__section {
    position: relative;
    padding: 70px 0 112px;
}
.advantages__section::after {
    content: url("../images/oval-small-full.svg");
    display: block;
    position: absolute;
    bottom: -50px;
    left: 40%;
    z-index: 5;
}
.advantages__section .preview {
    margin-bottom: 32px;
}
.advantages__item {
    width: 33.333%;
    padding: 40px 24px 32px;
    text-align: center;
}
.advantages__item:hover {
    background: #FFFFFF;
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
    border-radius: 3px;
}
.advantages__item:hover .advantages__title:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 8px;
    z-index: -1;
    background: #C86DD7;
}
.advantages__title {
    position: relative;
    width: fit-content;
    margin: 15px auto 9px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    z-index: 0;
}
.advantages__desc {
    font-weight: 400;
    line-height: 1.5;
    color: #33333355;
}
.team__section {
    position: relative;
    padding: 176px 222px;
    overflow: hidden;
}
.team__section::before,
.team__section::after {
    position: absolute;
    display: block;
}
.team__section::before {
    content: url("../images/oval-medium.svg");
    bottom: -100px;
    left: calc(50% - 75px);
}
.team__section::after {
    content: url("../images/oval-big-transp.svg");
    bottom: -135px;
    left: -100px;
}
.team__img {
    width: 40%;
}
.team__desc {
    width: 40%;
}
.team__desc .preview {
    margin-bottom: 32px;
}
.video__section {
    padding: 96px 0 128px;
}
.video__desc {
    width: 50%;
    padding-right: 100px;
}
.video__desc h2 {
    margin-bottom: 55px;
}
.video__wrap {
    position: relative;
    width: 50%;
}
.video__wrap::after {
    content: url("../images/icon-play-btn.svg");
    display: block;
    position: absolute;
    left: -105px;
    top: 170px;
    z-index: 5;
    cursor: pointer;
}
.card:not(:last-of-type) {
    margin-bottom: 24px;
}
.card-header {
    position: relative;
    width: fit-content;
    padding-right: 26px;
    margin-bottom: 8px;
    font-weight: 600;
}
.card-header:hover::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 8px;
    z-index: -1;
    background: #C86DD7;
}
.card-header::after {
    content: url("../images/icon-arrow.svg");
    display: block;
    position: absolute;
    right: 7px;
    top: -1px;
}
.card-header:hover::after {
    top: 5px;
    transform: rotate(180deg);
}
.card-header a {
    color: #333;
}
.card:not(:first-of-type) .collapse {
    display: none;
}
.card-body {
    padding-bottom: 22px;
    line-height: 1.5;
    color: #33333355;
}
.works__section {
    padding: 61px 0 48px;
}
.works__section h2 {
    width: 50%;
    padding-right: 160px;
    margin-bottom: 55px;
}
.works__section p {
    display: block;
    width: 50%;
    line-height: 1.5;
    color: #33333355;
}
.tab__nav {
    list-style-type: none;
}
.tab__nav-item:not(:last-of-type) {
    margin-right: 30px;
}
.tab__nav-item a {
    color: #33333355;
}
.tab__nav-item:first-of-type a {
    font-weight: 600;
    color: #333;
}
.tab__pane:not(:first-of-type) {
    display: none;
}
.work__wrap {
    padding: 42px 0 48px;
    margin: 0 -15px;
}
.work__item {
    display: block;
    position: relative;
    width: calc(33.333% - 30px);
    margin: 0 15px;
    border-radius: 3px;
    color: #fff;
}
.work__item:hover .work__img::before,
.work__item:hover .work__content {
    display: block;
}
.work__img {
    display: block;
    position: relative;
    width: 100%;
    height: 272px;
}
.work__img::before {
    content: '';
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #31003955;
    border-radius: 3px;
}
.work__img img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.work__content {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 26px 32px;
    z-index: 2;
}
.work__title {
    display: block;
    margin-bottom: 9px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.33;
}
.work__desc {
    display: block;
    line-height: 1.5;
    color: #ffffff55;
}