* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
a {
    text-decoration: none;
}
h1, h2 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
h2 {
    font-size: 56px;
    line-height: 1.14;
    margin-bottom: 23px;
}
p {
    margin-top: 0;
    line-height: 1.5;
}
input {
    font-family: 'Source Sans Pro', sans-serif;
}
.strong {
    font-weight: 600;
}
.wrapper {
    position: relative;
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.flex {
    display: flex;
}
.flex-justify_sb {
    justify-content: space-between;
}
.flex-align_center {
    align-items: center;
}
.flex-align_end {
    align-items: flex-end;
}
.flex_col {
    flex-direction: column;
}
.flex_wrap {
    flex-wrap: wrap;
}
.bg_pink {
    background: #FDF2FF;
}
.bg_blue {
    background: #3023AE;
    color: #fff;
}
.bg_fuchsia {
    background: #C86DD7;
    color: #fff;
}
.btn {
    display: block;
    min-width: 170px;
    width: fit-content;
    padding: 15px;
    border: 0;
    border-radius: 24px;
    text-align: center;
    font-weight: 700;
}
.image__wrap {

}
.image__wrap_rect {
    position: relative;
}
.image__wrap_rect img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
    border-radius: 3px;
}
.image__wrap_rect::before {
    content: '';
    display: block;
    position: absolute;
    top: 32px;
    left: -30px;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 3px;
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
}
.subtitle {
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 1.5;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 2;
}
.main-screen__wrap {
    position: relative;
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    color: #fff;
}

.contacts__block {
    background: url("../images/bg_footer.jpg") 50% 50% no-repeat;
    background-size: cover;
}
.contacts__wrap {
    padding: 135px 0 160px;
    text-align: center;
}
.contacts__content {
    max-width: 610px;
    margin: 0 auto;
}
.contact__form {
    margin-top: 28px;
}
.form__input {
    width: 100%;
    margin-right: 30px;
    padding: 11px 16px;
    border: 1px solid #DADADA;
    border-radius: 3px;
    background: #fff;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}
.form__input:focus {
    outline: none;
}
.footer {
    padding: 60px 0 74px;
    border-top: 2px solid #00000011;
}
.footer-nav__wrap {
    width: 70%;
}
.footer-contacts__wrap {
    width: 30%;
}
.footer-nav__list {
    display: block;
    width: 33.333%;
    padding-right: 20px;
    list-style-type: none;
}
.footer-nav__item:not(:last-of-type) {
    margin-bottom: 8px;
}
.footer-nav__item a {
    font-weight: 400;
    line-height: 1.5;
    color: #33333355;
}
.footer-nav__item:first-child a {
    font-weight: 600;
    color: #333;
}
.social__link {
    display: block;
    margin-right: 8px;
}
.copyright {
    margin-top: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #33333355;
}
.blog__section {
    padding: 112px 0;
}
.blog__preview {
    width: 50%;
    padding-right: 125px;
}
.blog__item {
    position: relative;
    width: 50%;
}
.blog__preview p {
    margin-bottom: 32px;
    font-weight: bold;
}
.blog__content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 48px 46px;
    z-index: 3;
    color: #fff;
}
.blog__title {
    margin-bottom: 10px;
    font-size: 24px;
    font-width: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 1.333;
}
.blog__desc {
    margin-bottom: 16px;
    font-weight: 400;
    color: #ffffff55;
}
.blog__author img {
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border-radius: 50%;
}
.blog__author span {
    font-weight: 600;
}